.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-shrink: 0;
  overflow: hidden;

  background: linear-gradient(90deg, #0b0020, #160033);
  z-index: 1200;
}

.header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}